body {
    background-color: #1b1b1b;
    padding: 0;
    margin: 0;
    height: 100vh;
}

p {
    margin: 0;
}

main {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252525;
}

.quotes {
    width: 100%;
    height: max-content;
    padding: 0.75rem 0.5rem;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.quotes p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #b8b8b8;
}

.nav-bar {
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logos {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 1rem;
}

.logos img {
    display: block;
    width: 7rem;
    height: 4rem;
    object-fit: contain;
}

.menu {
    width: max-content;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    color: #e2e2e2;
    font-size: 1.2rem;
    box-sizing: border-box;

    font-family: 'Poppins', 'Inter', sans-serif;
}

.schedule {
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: border 0.1s ease;
}

.schedule:hover {
    background-color: #1f1f1f;
    border-bottom: 3px solid #00ff00;
}

.schedule p {
    user-select: none;
}

.menu-standing {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: border 0.1s ease;
}

.menu-standing p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.menu-standing:hover {
    background-color: #1f1f1f;
    border-bottom: 3px solid #00ff00;
}

.menu-standing:hover .dropdown {
    transform: rotate(-90deg);
}

.menu-standing-dropdown {
    height: 0;
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 4rem;
    left: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.menu-standing:hover .menu-standing-dropdown {
    height: 6.4rem;
}

.menu-standing-dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #e2e2e2;
    margin: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.menu-standing-dropdown a:hover {
    background-color: #313131;
}

.seasons {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: border 0.1s ease;
}

.seasons p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.seasons:hover {
    background-color: #1f1f1f;
    border-bottom: 3px solid #00ff00;
}

.seasons:hover .dropdown {
    transform: rotate(-90deg);
}

.seasons-dropdown {
    height: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 4rem;
    left: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.seasons:hover .seasons-dropdown {
    height: 6.4rem;
}

.seasons-dropdown a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: #e2e2e2;
    margin: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.seasons-dropdown a:hover {
    background-color: #313131;
}

.dropdown {
    width: 0.9rem;
    transition: transform 0.2s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.acc-manager {
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.acc-manager button {
    height: 2.5rem;
    background-color: #252525;
    color: #e2e2e2be;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid rgba(255, 0, 0, 0.747);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.747);
    cursor: pointer;
}

.acc-manager button:hover {
    color: #e2e2e2;
    border: 3px solid rgb(219, 0, 0);
    box-shadow: 0 0 10px red;
}

.news {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    box-sizing: border-box;
    font-family: 'Poppins', 'Inter', sans-serif;
}

.news a {
    text-decoration: none;
}

.news-top {
    width: 50rem;
    height: 28rem;
    background-image: url(index/top-news.jpg);
    background-position: center;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: end;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.news-top:hover {
    animation: zoom-in 0.3s forwards;
}

.news-top:not(:hover) {
    animation: zoom-out 0.3s forwards;
}

@keyframes zoom-in {
    from {
        background-size: 100%;
    }

    to {
        background-size: 120%;
    }
}

@keyframes zoom-out {
    from {
        background-size: 120%;
    }

    to {
        background-size: 100%;
    }
}

.news-top p {
    width: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    text-shadow: 0 0 5px black;
    color: #e2e2e2;
    text-align: center;
    padding: 1.5rem 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), transparent);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.side-news {
    width: max-content;
    height: 27.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.news1,
.news2,
.news3 {
    width: 14.75rem;
    height: 8.33rem;
    background-image: url(index/top-news.jpg);
    background-position: center;
    background-size: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: end;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.news1 {
    background-image: url(index/news1.jpg);
}

.news1:hover,
.news2:hover,
.news3:hover {
    animation: zoom-in 0.3s ease forwards;
}

.news1:not(:hover),
.news2:not(:hover),
.news3:not(:hover) {
    animation: zoom-out 0.3s ease forwards;
}

.news1 p,
.news2 p,
.news3 p {
    width: 100%;
    padding: 0.5rem 0;
    color: #e2e2e2;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0 0 5px black;
    text-align: center;
    background: linear-gradient(0deg, rgb(32, 32, 32), transparent);
}