@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
}


@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url(index/Poppins/Poppins-Black.ttf) format('truetype');
    font-weight: 900;
}

* {
    box-sizing: border-box;
}


body {
    background-color: #1b1b1b;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

p {
    margin: 0;
}

main {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    z-index: 900;
}

.quotes {
    width: 100%;
    height: max-content;
    padding: 0.75rem 0.5rem;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.quotes p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #b8b8b8;
}

.nav-bar {
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logos {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 1rem;
}

.logos img {
    display: block;
    width: 7rem;
    height: 4rem;
    object-fit: contain;
}

.logos img[alt="fia"] {
    transform: scale(0.8);
}

.menu {
    width: max-content;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    color: #e2e2e2;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'Poppins', 'Inter', sans-serif;
    font-weight: 400;
}

.schedule {
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: border 0.1s ease;
    text-decoration: none;
    color: #e2e2e2;
}

.schedule:hover {
    background-color: #1f1f1f;
    border-bottom: 3px solid #00ff00;
}

.schedule p {
    user-select: none;
}

.menu-standing {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: border 0.1s ease;
}

.menu-standing p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.menu-standing:hover {
    background-color: #1f1f1f;
    border-bottom: 3px solid #00ff00;
}

.menu-standing:hover .dropdown {
    transform: rotate(-90deg);
}

.menu-standing-dropdown {
    height: 0;
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 4rem;
    left: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.menu-standing:hover .menu-standing-dropdown {
    height: 6.4rem;
}

.menu-standing-dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #e2e2e2;
    margin: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.menu-standing-dropdown a:hover {
    background-color: #313131;
}

.seasons {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: border 0.1s ease;
}

.seasons p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.seasons:hover {
    background-color: #1f1f1f;
    border-bottom: 3px solid #00ff00;
}

.seasons:hover .dropdown {
    transform: rotate(-90deg);
}

.seasons-dropdown {
    height: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 4rem;
    left: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.seasons:hover .seasons-dropdown {
    height: 6.4rem;
}

.seasons-dropdown a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: #e2e2e2;
    margin: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.seasons-dropdown a:hover {
    background-color: #313131;
}

.dropdown {
    width: 0.9rem;
    transition: transform 0.2s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.acc-manager {
    position: relative;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.acc-manager a {
    text-decoration: none;
    color: unset;
}

.acc-manager button {
    height: 2.5rem;
    background-color: #252525;
    color: #e2e2e2be;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid rgba(255, 0, 0, 0.747);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.747);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.acc-manager button:hover {
    color: #e2e2e2;
    border: 3px solid rgb(219, 0, 0);
    box-shadow: 0 0 10px red;
}

.acc-manager .acc-drop {
    width: max-content;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    font-family: 'Poppins';
    color: #e2e2e2;
    font-weight: 600;
    border-radius: 0 0 .5rem .5rem;
    overflow: hidden;
    transition: height .2s ease;
}

.acc-drop.active {
    height: 8.1rem;
}

.acc-drop .item {
    width: 10rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
    border-bottom: 1px solid #b8b8b886;
}

.acc-drop .item:last-child {
    border-bottom: unset;
}

.acc-drop .item:hover {
    background-color: #252525;
}

.acc-drop .logout,
.acc-drop .delete-acc {
    color: rgb(255, 36, 36);
}

.mobile-menu-btn {
    border: 1px solid #e2e2e2;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    margin: 0 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:active {
    background-color: #ffffff30;
}

.mobile-menu-btn img {
    width: 1.4rem;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    pointer-events: none;
}

.mobile-menu {
    position: absolute;
    background-color: #252525;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: left 0.3s ease;
}

.mobile-menu a {
    text-decoration: none;
}

.mobile-menu-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.mobile-menu-close img {
    width: 2rem;
    height: auto;
    padding: 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.mobile-menu-close img:hover,
.mobile-menu-close img:active {
    background-color: #ffffff30;
}

.mobile-menu-item {
    width: 100%;
    padding: 1rem 0.7rem;
    text-align: center;
    font-size: 1.2rem;
    color: #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.mobile-menu-item:last-child {
    border-bottom: unset;
}

.mobile-menu-item:hover,
.mobile-menu-item:active {
    background-color: #ffffff30;
}

.mobile-schedule {
    border-radius: 0.5rem 0.5rem 0 0;
}

.mobile-standings,
.mobile-seasons {
    height: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: height .3s ease;
}

.mobile-standings:hover,
.mobile-standings:active {
    height: 9rem;
}

.mobile-seasons:hover,
.mobile-seasons:active {
    height: 8.6rem;
}

.mobile-standings p,
.mobile-standings p {
    padding-bottom: 0.5rem;
    pointer-events: none;
}

#mobile-dropdown {
    width: 0.9rem;
    transform: rotate(-90deg);
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.mobile-standings a,
.mobile-seasons a {
    width: 100%;
    padding: 0.8rem 0;
    color: #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.mobile-standings a:last-child,
.mobile-seasons a:last-child {
    border-bottom: unset;
    padding-bottom: 0;
}

.mobile-acc-manager {
    border-radius: 0 0 0.5rem 0.5rem;
}

.news {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    box-sizing: border-box;
    font-family: 'Poppins', 'Inter', sans-serif;
    font-weight: 600;
}

.news a {
    text-decoration: none;
}

.news-top {
    width: 50rem;
    height: 28rem;
    background-image: url(News/images/top-news.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: end;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: background-size 0.3s ease;
}

.news-top:hover {
    background-size: 120%;
}

.news-top p {
    width: 100%;
    font-size: 1.7rem;
    text-shadow: 0 0 5px black;
    color: #e2e2e2;
    text-align: center;
    padding: 1.5rem 0.8rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), transparent);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.side-news {
    width: max-content;
    height: 27.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.news1,
.news2,
.news3 {
    width: 14.75rem;
    height: 8.33rem;
    background-image: url(index/top-news.jpg);
    background-position: center;
    background-size: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: end;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: background-size 0.3s ease;
}

.news1 {
    background-image: url(News/images/news1.jpg);
}

.news2 {
    background-image: url(News/images/news2.jpg);
}

.news3 {
    background-image: url(News/images/news3.jpg);
}

.news1:hover,
.news2:hover,
.news3:hover {
    background-size: 120%;
}

.news1 p,
.news2 p,
.news3 p {
    width: 100%;
    padding: 0.5rem 0;
    color: #e2e2e2;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0 0 5px black;
    text-align: center;
    background: linear-gradient(0deg, rgb(32, 32, 32), transparent);
}

.main-body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: #1f1f1f;
    border-top: 2px solid #181818;
}

.main-body a {
    -webkit-user-drag: none;
}

.fl-section {
    flex: 1;
    max-width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: auto;
    scroll-behavior: smooth;
}

.fl-section .item {
    width: 100%;
    flex-shrink: 0;
    height: 6.5rem;
    padding: 1rem .7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-bottom: 2px solid #181818;
    overflow: auto;
    color: #b8b8b8;
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.1rem;
    white-space: nowrap;
}

.fl-section .thumbnail {
    flex: 0 0 7rem;
    width: 7rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(News/images/round-8.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease;
    border-radius: .5rem;
}

.fl-section .thumbnail svg {
    width: 20%;
    height: auto;
}

.fl-8 .thumbnail {
    background-image: url(News/images/round-8.jpg);
}

.fl-7 .thumbnail {
    background-image: url(News/images/round-7.jpg);
}

.fl-6 .thumbnail {
    background-image: url(News/images/round-6.jpg);
}

.fl-5 .thumbnail {
    background-image: url(News/images/round-5.jpg);
}

.fl-4 .thumbnail {
    background-image: url(News/images/round-4.jpg);
}

.fl-3 .thumbnail {
    background-image: url(News/images/round-3.jpg);
}

.fl-section .item:hover {
    color: #f36969;
}

.fl-section .item:hover svg g {
    fill: #f36969;
}

.fl-section .item:hover .thumbnail {
    background-size: 130%;
}

.f1-text {
    flex: 1;
    min-width: 37.5rem;
    max-width: 43.5rem;
    height: max-content;
    padding: 2rem 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #e2e2e2;
    font-weight: 300;
    line-height: 1.5rem;
    border-left: 2px solid #181818;
    border-right: 2px solid #181818;
    background-color: #252525;
}

.f1-text h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.round-summary-section {
    flex: 1;
    max-width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: auto;
}

.round-summary-section .item {
    width: 100%;
    height: 6.5rem;
    padding: 1rem .7rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-bottom: 2px solid #181818;
    overflow: auto;
    color: #b8b8b8;
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.1rem;
    white-space: nowrap;
}

.round-summary-section img {
    width: 7rem;
    height: 4rem;
    border-radius: .5rem;
}

.round-summary-section .item:hover {
    color: #f36969;
}

.main-body .item::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-body .item::-webkit-scrollbar-corner {
    background: transparent;
}

.main-body .item::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 3px;
}

.main-body .item::-webkit-scrollbar-button {
    display: none;
}

.main-body .item:hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

@media (max-width: 1000px) {
    .main-body {
        flex-direction: column;
        align-items: unset;
        justify-content: start;
    }

    .main-body .f1-text {
        width: 100%;
        min-width: unset;
        max-width: unset;
        order: 1;
        border: none;
        border-bottom: 2px solid #181818;
    }

    .main-body .fl-section {
        order: 2;
        width: 100%;
        max-width: unset;
        flex-direction: row;
        border-bottom: 2px solid #181818;
    }

    .fl-section .item {
        width: 20rem;
        border-bottom: unset;
        border-right: 1px solid #181818;
    }

    .main-body .round-summary-section {
        order: 3;
        width: 100%;
        max-width: unset;
        flex-direction: row;
    }

    .round-summary-section .item {
        width: 20rem;
        border-bottom: unset;
        border-right: 1px solid #181818;
    }

    .main-body .fl-section::-webkit-scrollbar,
    .main-body .round-summary-section::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .main-body .fl-section::-webkit-scrollbar-thumb,
    .main-body .round-summary-section::-webkit-scrollbar-thumb {
        background: #f36969;
        border-radius: 3px;
    }

    .main-body .fl-section::-webkit-scrollbar-button,
    .main-body .round-summary-section::-webkit-scrollbar-button {
        display: none;
    }
}

@media (max-width: 600px) {
    .quotes p {
        font-size: 0.9rem;
    }

    .logos img {
        width: 5.5rem;
    }

    .mobile-menu-btn {
        display: flex;
    }

    .menu,
    .acc-manager {
        display: none;
    }

    .news {
        flex-direction: column;
    }


    .news-top {
        width: 95%;
        height: 16rem;
        margin: auto;
    }

    .news-top p {
        font-size: 1.2rem;
    }

    .side-news {
        width: 95%;
        height: max-content;
        flex-direction: row;
    }

    .side-news a {
        width: 32%;
    }

    .news1,
    .news2,
    .news3 {
        width: 100%;
        height: 5rem;
    }

    .news1 p,
    .news2 p,
    .news3 p {
        font-size: 0.8rem;
    }
}